.ProductsPage {
  background: #44B26F;
  min-height: 100vh;
  padding: 90px 70px 110px;
  position: relative;
}

.ProductsLogo {
  position: absolute;
  top: 20px;
  left: 30px;
}

.productTitle {
  font-size: 64px;
  color: white;
  margin-bottom: 75px;
  margin-top: 80px;
}

.iconAdd, .iconPreview {
  width: 30px;
  height: 30px;
}

.iconPreview > svg {
  width: 30px;
  height: 30px;
  color: black;
}

.iconAdd > svg {
  width: 30px;
  height: 30px;
  color: black;
}