.loginInput {
  font-size: 15px;
  border-radius: 12px;
  padding: 20px;
  font-weight: 600;
  border: none;
  background-color: #d9d9d9;
  font-family: 'Inter';
  margin-bottom: 37px;
  padding-right: 65px;
}

.password {
  display: flex;
  text-align: left;
  padding: 20px;
  padding-right: 65px;
}


.passwordAndButtonEye {
  position: relative;
}


.loginInput::placeholder {
  color: #44B26F;
}

.loginInput:focus {
  outline: none; 
  box-shadow: #44B26F 1px 0 10px;
}


.buttonEye {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 112px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.ErrorValid {
  text-align: center;
  color: white;
  background: #b24444;
  font-size: 20px;
  border: none;
  font-weight: 600;
  font-family: 'Inter';
  width: 100%;
  border-radius: 12px;
  padding: 50px 20px;
  position: absolute;
  left: -20px;
  top: 250px;
}
