.Button {
  color: white;
  background: #44B26F;
  height: 56px;
  font-size: 24px;
  border: none;
  font-weight: 600;
  font-family: 'Inter';
  width: 100%;
  border-radius: 12px;
  padding: 0;
  transition: all .2s;
  cursor: pointer;
}

.Button:active {
  transform: scale(.98);
}


.two {
  color: #05BC52;
  background: white;
  font-size: 16px;
  border: none;
  font-weight: 600;
  font-family: 'Inter';
  padding: 16px 35px 16px 50px;
  border-radius: 12px;
  position: relative;
}

.buttonContainerPreview {
  position: absolute;
  left: 70px;
}

.buttonContainerAdd {
  position: absolute;
  right: 70px;
}

.iconButton {
  position: absolute;
  top: 11px;
  left: 10px;
  color: black;
}