.Button {
  color: white;
  background: #44B26F;
  height: 56px;
  font-size: 24px;
  border: none;
  font-weight: 600;
  font-family: 'Inter';
  width: 100%;
  border-radius: 12px;
  padding: 0;
  transition: all .2s;
  cursor: pointer;
}

.Button:active {
  transform: scale(.98);
}


.two {
  color: #05BC52;
  background: white;
  font-size: 16px;
  border: none;
  font-weight: 600;
  font-family: 'Inter';
  padding: 16px 30px;
  border-radius: 12px;
  position: absolute;
  left: 200px;
  top: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.three {
  color: #05BC52;
  background: white;
  font-size: 16px;
  border: none;
  font-weight: 600;
  font-family: 'Inter';
  padding: 16px 30px;
  border-radius: 12px;
  position: absolute;
  right: 200px;
  top: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.two:active, .three:active {
  transform: scale(.98);
}

