.loginInput {
  font-size: 15px;
  border-radius: 12px;
  padding: 20px;
  font-weight: 600;
  border: none;
  background-color: #d9d9d9;
  font-family: 'Inter';
  margin-bottom: 37px;
}

.pass {
  display: flex;
  text-align: left;
  padding-right: 65px;
}

.loginEye{
  position: absolute;
  right: 20px;
  top: 112px;
}

.loginInput::placeholder {
  color: #44B26F;
}

.loginLabel {
  position: relative;
  display: flex;
  flex-flow: column;
}
