
//? COLORS:
$redAccent: #f0145a;
$bgGreen: #44B26F;
$basicWhite: white;
$basicBlack: black;
$textColor: #B3B3BA;
$softColor: #686887;
$greyColor: #726969;
$bgColor: #F5F5FA;
$bgAlt: #EDEDF7;
$separatorColor: #E6E6F0;

//? RADIUS:
$radius-sm: 8px;
$radius-md: 12px;
$radius-xl: 24px;
$radius-rounded: 50%;

//? BREAKPOINTS
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;