
// COLORS:
$valueColor: #8b28a7;
$orangeApple: #e78428d2;
$redAccent: #f0145a;
$bgGreens: #44B26F;
$bgGreen: #2C3E50;
$basicWhite: white;
$basicBlack: black;
$textColor: #B3B3BA;
$greyColor: #726969;
$bgColor: #F5F5FA;
$bgAlt: #EDEDF7;
$separatorColor: #E6E6F0;
$metal: #1A2A44;
$softMetal: #2C3E50;

$cardRed: #F9A3A3;
$cardGreen: #8FF985;
$cardDisable: #BBC4CD;
$cardBuy: #0061C1;


// RADIUS:
$radius-sm: 8px;
$radius-md: 12px;
$radius-xl: 24px;
$radius-rounded: 50%;

// BREAKPOINTS
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;