.card {
  background: white;
  padding: 20px;
  font-family: 'Inter';
  font-size: 16px;
  border-radius: 14px;
  transition: transform .5s;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 12px black;
}

.containerImage {
  height: 330px;
  max-width: 400px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-weight: 700;
}

.category {
  color: #05BC52;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  font-size: 20px;
  color: #FC5B00;
  font-weight: 600;
}

.containerInner {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.delivery {
  font-size: 16px;
  color: #05BC52;
  font-weight: 400;
}

.noDelivery {
  font-size: 16px;
  color: #bc0514;
  font-weight: 400;
}