
.footer {
  background: black;
  padding: 32px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {}

.link {
  text-decoration: none;
  color: #726969;
  transition: linear .2s;
}

.author {
  font-size: 20px;
  color: white;
  transition: linear .2s;
}

.link:hover > .author {
  color: #44b26f;
  text-shadow: white 1px 0 20px;
}