@use "./vars" as *;

.footer {
  background: $basicBlack;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: $greyColor;
  transition: linear .2s;
}

.author {
  font-size: 20px;
  color: $basicWhite;
  transition: linear .2s;
}

.link:hover > .author {
  color: $bgGreen;
  text-shadow: $basicWhite 1px 0 20px;
}

// MOBILE ---------------------------------------------------------------
@media (max-width: 425px) {
  .footer {
    padding: 21px;
  }
  
  .logo {
    height: 25px;
    width: 150px;
  }
}