.form {
  display: flex;
  flex-flow: column;
  gap: 10px;
  color: #726969;
  font-family: 'Inter';
  font-weight: 600;
}

.header {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  text-transform: uppercase;
}

.buttonClose {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.input {
  padding: 10px;
  border-radius: 12px;
  border: transparent 2px solid;
  outline: none;
  color: #05BC52;
  font-weight: 600;
  font-size: 20px;
}

.input::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  color: #05BC52;
}

.input:focus {
  border: #05BC52 2px solid;
}

.label {
  display: flex;
  flex-flow: column;
  gap: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.buttonCancel, .buttonSubmit {
  color: white;
  font-weight: 700;
  background: #726969;
  padding: 10px 60px;
  border-radius: 12px;
  outline: none;
  border: 0;
  cursor: pointer;
}

.buttonSubmit {
  background: #05BC52;
}