.form {
  display: flex;
  flex-flow: column;
  gap: 20px;
  color: #726969;
  font-family: 'Inter';
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 0 10px 0;
}