@use "./vars" as *;

.header {
  background: $bgGreen;
  padding: 30px;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navButton {
  background: transparent;
  cursor: pointer;
}

// MOBILE ---------------------------------------------------------------
@media (max-width: 425px) {
  .header {
    padding: 20px 30px;
    height: 80px;
    border-bottom: 1px solid $basicWhite;
  }
  
  .logo {
    width: 150px;
    height: 25px;
  }
}