
@use "vars" as *;

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 12px;
  background: $separatorColor;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  font-family: "Inter";
  text-align: center;
  padding: 32px;
}

.header {
  position: relative;
  margin: 0 0 16px 0;
}

.title {
  color: $basicBlack;
  font-weight: 500;
  font-size: 20px;
}

.close {
  background: transparent;
  position: absolute;
  top: -20px;
  right: -20px;
}


// MOBILE ---------------------------------------------------------------
@media (max-width: 425px) {
  .modal {
    padding: 21px 16px;
    width: 300px;
  }
  
  .header {
    margin: 0 0 16px 0;
  }
  
  .close {
    top: -15px;
    right: -10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}