
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preview {
  background: #44B26F;
  min-height: calc(100vh - 210px);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.buttonBack {
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  color: white;
  transition: linear .2s;
  text-transform: uppercase;
  cursor: pointer;
}

.cards {
  padding: 40px 0 50px;
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.error {
  background: #44B26F;
  min-height: calc(100vh - 210px);
  position: relative;
}

.errorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.wrapperSkull {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.containerSkull {
  padding: 40px 0 50px;
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.buttonSkull {
  width: 150px;
  height: 25px;
  border-radius: 8px;
}

.skull {
  border-radius: 12px;
  height: 350px !important;
}