@use "vars" as *;


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preview {
  background: $bgGreen;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 50px 70px;
}

.buttonBack {
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  color: $basicWhite;
  transition: linear .2s;
  text-transform: uppercase;
  cursor: pointer;
}

.cards {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.error {
  background: $bgGreen;
  min-height: 100vh;
  position: relative;
}

.errorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
}

.errorDescriptions {
  font-size: 30px;
  font-weight: 700;
  color: $basicWhite;
}

.wrapperSkull {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 30px 0;
}

.containerSkull {
  padding: 40px 0 50px;
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.skull {
  border-radius: 12px;
  height: 350px !important;
}



// MOBILE ---------------------------------------------------------------
@media (max-width: 425px) {
  
  .cards {
    padding: 30px 0;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .errorDescriptions {
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
  
  .containerSkull {
    padding: 30px 0;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}