
.tableRow {
  cursor: pointer;
}

.tableRow:hover {
  background: #278956e9;
  cursor: pointer;
}

.name:hover {
  color: white;
  text-decoration: 1px underline;
}

.editButton,
.deleteButton {
  color: black;
  transition: linear .1s;
}

.editButton:active {
  color: rgb(0, 166, 255);
}

.deleteButton:active {
  color: rgb(229, 11, 11);
}

.tableRow:last-child .rows, .tableRow:last-child .name {
  border-bottom: 0 !important;
}

