
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.wrapper {
  background: #44B26F;
}

.products {
  min-height: calc(100vh - 210px);
  padding: 30px;
  max-width: 1536px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  color: white;
  font-weight: 700;
  text-align: left;
}

.container {
  color: white;
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.buttonPreview, .buttonAdd {
  color: #05BC52;
  background: white;
  font-size: 18px;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;
  cursor: pointer;
}

.errorContainer {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.errorTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

// MOBILE ---------------------------------------------------------------
@media (max-width: 425px) {
  .products {
    min-height: calc(100vh - 160px);
    padding: 30px 5px;
    max-width: 1536px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .buttonPreview, .buttonAdd {
    font-size: 12px;
    padding: 10px;
    gap: 5px;
  }
  
  .errorTitle {
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
}