

.MuiTableRow-head {
  background: white;
}

.MuiTableRow-root:hover {
  background: #3CD78C;
}

.MuiTableCell-body {
  padding-left: 5px;
  padding-right: 5px;
}

.editButton, .deleteButton {
  color: black;
  transition: linear .1s;
}

.editButton:active {
  color: blue;
}


.deleteButton:active {
  color: red;
}

.productTableSpinnerContainer {
  position: fixed;
  top: 50%;
  left: calc(50% - 30px);
}

.errorContainer {
  border-radius: 14px;
  background: silver;
  padding: 50px 0;
  border: #0EC86F 5px solid;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.errorText {
  font-size: 40px;
  font-weight: 600;
  color: red;
  margin: 0;
}

/********** MOBILE ***************************/

@media (max-width: 400px) {
  .productTableTitle {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
  }

  .TableCellMobile:last-child {
    display: none;
  }

    .ProductsPage {
    padding: 50px 0 20px;
    position: relative;
  }

    .slotName {
    font-size: 15px;
    width: 100%;
  }

  .slotName:first-child {
    padding-left: 15px;
  }

  .slotName:last-child {
    display: none;
  }
  
  .slotName:nth-child(5) {
    margin-right: 30px;
  }

  .productTableField {
    border-bottom: 1px solid black;
  }

  .productTableField:hover {
    background: silver;
    color: black;
  }

  .productItem {
    width: 330px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .buttonContainerProductTable {
    display: none;
    overflow: hidden;
    z-index: -1;
  }

  .buttonEdit, .buttonDelete {
    display: none;
  }

    .productTableSpinnerContainer {
    position: fixed;
    top: 50%;
    right: calc(50% - 15px);
  }

  .errorContainer {
    border-radius: 14px;
    background: silver;
    padding: 20px 0;
    border: #0EC86F 5px solid;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
  }
  
  .errorText {
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin: 0;
  }
}